<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="http://fonts.cdnfonts.com/css/zorque" rel="stylesheet">
    <link rel="stylesheet" href="./style/style.css">
    <title>Choose your mate</title>
</head>
<body>
    <div class="header">
        <a href="/"><img id="logo_choose" src="./images/logo_jeux.png" alt="logo choose your mate"></a>
    </div>
    <div>
      <h1 class="title">CHOOSE YOUR MATE</h1>
    </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid bg-dark entire-navbar">
          <a class="navbar-brand bg-dark" href="/"><button class="nav-bar grp-navbar">Accueil</button></a>
          <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon bg-dark"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-dark">
              <li class="nav-item bg-dark">
                <a href="/jeux"><button  class="nav-bar grp-navbar">Jeux</button></a>
              </li>
              <li class="nav-item bg-dark">
                <a href="/mate"><button  class="nav-bar grp-navbar">Mes mates</button></a>
              </li>
              <li class="nav-item bg-dark">
                <a href="/seach"><button  class="nav-bar grp-navbar">Chercher un mate</button></a>
              </li>
              <li class="nav-item bg-dark">
                <a href="/find"><button  class="nav-bar grp-navbar">Ils cherchent un mate</button></a>
              </li>
            </ul>
          </div>
      </nav>
      
      
    
    
