* {
    margin: 0;
    padding: 0;
    background-color: #CCC;
    text-align: center;
}
body {
    background-color: #CCC;
}
h1 {
    margin: 0;
    margin-top: 2%;
}
#logo_choose {
    height: 150px;
    width: 150px;
    margin-left: 2%;
}
.header {
    display: flex;
    text-align: center;   
}

.title {
    font-family: 'Zorque', sans-serif;
    text-align: center;
    font-size: 4em;
    margin:0;
    margin-bottom:2%;
    
    
}
.button_all {
    border-radius: 2px;
    width: 125px;
    border: 1px solid black;
    font-size: 1em;
}
.other_button {
    height: 35px;
    margin-top: 24px;
}
.button_all:hover {
    background-color: #000;
    color: #FFF;
}
.nav-bar {
    text-decoration: none;
    color: #FFF;
    border: none;
    background-color: #212529;
    height: 35px;
}
.nav-bar:hover {
    background-color: #FFF;
    color: #000;
}

.div-three {
    display: flex;
    justify-content: space-between;
    width: 55%
}
.navbar {
    padding: 0;
}
.grp-navbar {
    height: 50px;
    width: 175px;
}
.under-title {
    padding-top: 5%;
    padding-bottom: 5px;
}
.under-title > h2 {
    font-size: 3em;
}
.under-title > p {
    font-size: 1.5em;
    margin-bottom: 5%;
}
.button_subscribe {
    border-radius: 2px;
    width: 200px;
    border: 1px solid black;
    font-size: 2em;
}
.button_subscribe:hover {
    background-color: #000;
    color: #FFF;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#212529;
    color:#FFF;
    position:absolute;
    bottom:0;
    width:100%;
    padding-top:15px;
    height:80px;
}
.footer > p {
    background:#212529;
}
.input_register {
    background-color: #E8F0FE;
    border-radius: 2px;
    height: 35px;
    width: 200px;
    margin-left: 2%;
}
.form_register {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 5%;
}

.button_logout > button {
    height: 40px;
    width: 150px;
    border-radius: 4px;
}
.title_all_pages {
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}
.title_all_pages > h2 {
    margin-left:2%;
}
.title_all_pages > form {
    margin-right: 2%;
}
.carte {
    height: 150px;
    width: auto;
}
.jeux {
    height: 250px;
    width: auto;
}
.button_find_mate {
    font-size: 2em;
    border-radius: 4px;
}
@media only screen and (max-device-width:768px) {
    .title {
        display: none;
    }
    .connection_button {
        margin-left: 8%
    }
    .button_all {
        margin-top: 10%;
    }
    .footer {
        bottom:-30%;
    }
    .button_subscribe {
        margin-bottom: 2%;
    }
}
@media only screen and (max-device-width:320px) {
    .footer {
        bottom:-100%;
    }
}



