<%- include('../partials/header'); %>
<div class="under-title">
    <h2>Ras le bol de jouer tous seul !</h2>
    <p>Rejoins une communauté de joueurs(euses) qui cherche la même chose que toi ! <br> des mates du même niveau pour pouvoir progresser ensemble.</p>
    <p>Donc si toi aussi tu t'ennuies tout seul dans ton coin à essayer des jeux, <br> que tu refermes ton jeu avant même d'avoir lancer une partie, <br> rejoint nous !</p>
    <a href="/register"><button class="button_subscribe">S'inscrire</button></a>
    <a href="/login"><button class="button_subscribe">Se connecter</button></a>
</div>

<%- include('../partials/footer'); %>

