<%- include('../partials/header'); %>
<div class="title_all_pages">
    <h2>Liste de jeux</h2>
    <form class="button_logout" action="/logout?_method=DELETE" method="POST">
        <p><%= name%></p>
        <button type="submit">Se déconnecter</button>
    </form>
</div>
<a href="/apex"><img class="carte" src="./images/apex.png" alt="logo apex legends"></a>
<%- include('../partials/footer'); %>