<%- include('../partials/header'); %>
<h1>Login</h1>
<% if (messages.error) { %>
  <%= messages.error %>
<% } %>
<form class="form_register" action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input class="input_register" type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="input_register" type="password" id="password" name="password" required>
  </div>
  <button class="button_all other_button" type="submit">Login</button>
</form>
<a href="/register"><button class="button_subscribe">Pas inscrit ?</button></a>
<%- include('../partials/footer'); %>
