<%- include('../partials/header'); %>

<h1>S'inscrire</h1>
<form class="form_register" action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input class="input_register" type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input class="input_register" type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input class="input_register" type="password" id="password" name="password" required>
  </div>
  <button class="button_all other_button" type="submit">S'inscrire</button>
</form>
<a class="link_connection" href="/login"><button class="button_subscribe">Déjà inscrit ?</button></a>
<%- include('../partials/footer'); %>