<%- include('../../partials/header'); %>
<div class="title_all_pages">
    <h2>Apex Legends</h2>
    <form class="button_logout" action="/logout?_method=DELETE" method="POST">
        <p><%= name%></p>
        <button type="submit">Se déconnecter</button>
    </form>
</div>
<div>
<img class="jeux" src="./images/apex.png" alt="logo apex legends">
<p>Ras le bol des coéquipiers qui rush tous seul et te laisse mourrir ?</p>
<p>Trouve un mate de ton niveaux sur apex avec qui tu pourra parler !</p>
<a href="/search"><button class="button_find_mate">Trouve un mate !</button></a>
</div>
<%- include('../../partials/footer'); %>